@use "./breakpoints.scss" as breakpoints;

.desktopGrid {
  display: block;

  @include breakpoints.s {
    display: none;
  }
}

.mobileSlider {
  display: none;

  @include breakpoints.s {
    display: block;
  }
}
